@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;

}

*{
font-family: 'Nunito', sans-serif;
margin:0; padding:0;
box-sizing: border-box;
outline: none; border:none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}

*::selection{
    background:var(--red);
    color:#fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;

}

body{
   background: #f7f7f7;

}
section{
    padding:2rem 9%;
}
.heading{
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color:#666
}
.heading span{
 /*color:cyan;
 box-shadow: #000;*/
 
 background: -webkit-linear-gradient(cyan,black);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

}
.btn{
  display: inline-block;
  padding: .8rem 3rem;
  border:.2rem solid cyan;
  color: black;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
.btn::before{
  content: '';
  position: absolute;
  top:0; right:0;
  width:0%;
  height:100%;
  background: #1b1b1b;
  transition: .5s linear;
  z-index: -1;

}
.btn:hover::before{
  width:100%;
  left:0;
}

.btn:hover{
   color: #fff;
}
nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 40px;
  font-weight:  900;
  line-height: 70px;
  padding-left: 60px;
  /*display: none;*/
}
nav .logo a{
  text-decoration: none;
  color: white;
}
nav .logo a:hover{
   color:cyan;
   text-decoration: none;

}

nav ul{
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding:  8px 15px;
}

nav ul li a:hover{
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff,
              0 0 5px #66ffff,
              0 0 5px #99ffff;
}
nav ul ul li a:hover{
  color: cyan;
  box-shadow: none;
}

nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
   position: relative;
   margin: 0px;
   width:150px;
   float: none;
   display: list-item;
   border-bottom: 1px solid rgba(0,0,0,0.3);

}

nav ul ul li a{
   line-height: 50px;
}

nav ul ul ul li{
   position: relative;
   top: -70px;
   left: 150px;
}

.show,.icon, input{
   display:none;
   
}
@media all and (max-widht: 968px){
   nav ul{
       margin-right: 0px;
       float:left;
   }
   nav .logo{
       padding-left: 30px;
       width: 100%;
   }
   nav ul li, nav ul ul li{
       display: block;
       width: 100%;
   }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li {
        position: static;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left:  40px;
    }
    nav ul ul ul a{
      padding-left:  80px;
  }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height:  70px;
        cursor: pointer;
    }
    .show:hover{
        color: cyan;
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height:  70px;
        font-size:  25px;
        cursor: pointer;
    }
  nav ul li a:hover{
      box-shadow: none;
  }
  .show + a, ul{
      display: none;
  }
  [id^=btn]:checked +ul{
      display: block;
  }
}


* {box-sizing: border-box}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides img{
  width: 100%;
  height: 500px;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.home{
    display:flex;
    flex-wrap:wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/home-bg.jpg) no repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
    
}
.home .image{
    flex:1 1 40rem;
}
.home .image img{
    width: 100%;
    padding: 1rem;
    padding-left: 0;
    animation: float 3s linear infinite;
}

@keyframes float{

    0%, 100%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(3rem);
    }

}


.home .content h3{
  font-size: 5rem;
  color: #333;
}


.home .content p{
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}



.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top:-100%; left:0;
}

.speciality .box-container .box .content{
  text-align: center;
  background:#fff;
  padding:2rem;
}

.speciality .box-container .box .content img{
  margin:1.5rem 0;
}

.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}
.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}

.speciality .box-container .box:hover .image{
  top:0;
}

.speciality .box-container .box:hover .content{
  transform: translateY(100%);
}
.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5;
}
.popular .box-container .box{
  padding: 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem ragba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}

.popular .box-container .box img{
  height:25rem;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}

.popular .box-container .box .price{
  position:absolute;
  top:3rem; left:3rem;
  background: var(--red);
  color:#fff;
  font-size: 2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}

.popular .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding: 1rem;
}

.popular .box-container .box .stars i{
  color:gold;
  font-size: 1.7rem;
  padding: 1rem .1rem;
}

.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
}
.steps .box{
  flex: 1 1 25rem;
  padding: 1rem;
  text-align: center;
}

.steps .box h3{
  font-size: 3rem;
  color:#333;
  padding: 1rem;
}
.gallary .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallary .box-container .box{
  height: 25rem;
  flex:1 1 30rem;
  border:1rem  solid #fff;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}
.gallary .box-container .box a{
   
}
.gallary .box-container .box:hover{
   height: 120%;
   width:120%;

}

/*.gallary .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallary .box-container .box .content{
  position: absolute;
  top:-100%; left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallary .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.gallary .box-container .box .content p{
  font-size: 1.5rem;
  color:#666;
  padding: .5rem 0;
}

.gallary .box-container .box:hover .content{
  top:0;
}*/
.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review .box-container .box{
  text-align: center;
  padding: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex: 1 1 30rem;
  background: #333;
  margin-top: 6rem;
}

.review .box-container .box img{
  height:12rem;
  width:12rem;
  border-radius: 50%;
  border:1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 2rem;
  color:var(--red);
  padding:.5rem 0;
}
.review .box-container .box p{
  font-size: 1.5rem;
  color:#eee;
  padding:1rem 0;
}

.order .row{
  padding: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  background: #fff;
  display: flex;
  flex-wrap:wrap;
  gap:1.5rem;
  border-radius: .5rem;
}

.order .row .image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.order .row form{
  flex:1 1 50rem;
  padding: 1rem;
}
.order .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox, .order .row form textarea{
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  width: 55%;
}

.order .row form textarea{
  width:55%;
  resize: none;
  height: 15rem;
}

.order .row form .btn{
  background: none;
}

.order .row form .btn:hover{
  background:black;

}


.footer{
  background: #000;
  text-align: center;
}
.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding: 2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--red);
}
.footer .btn{
  color: cyan;
  
}

.footer .btn:hover{
  color: #fff;
  background-color: cyan;
}

/*#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding: .5rem 1.5rem;
  font-size: 4rem;
  background: var(--red);
  color:#fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100%-12rem);
}

.loader-container{
  position: fixed;
  top:0; left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}*/





















@media(max-width:991px){

    html{
  font-size: 55%;
}
    header{
        padding:2rem;
    }

    section{
      padding:2rem 9%;
    }

}
@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border:.2rem solid rgba(0, 0, 0, .1);
        border-left:.5rem solid var(--red);
        background:#fff;
    }
}
@media(max-width:400px){

html{
font-size: 55%;
}
 
}